.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  margin-bottom: 10px;
}

.avatar-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.edit-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.username {
  font-size: 20px;
  font-weight: bold;
}

ion-icon {
  font-size: 24px;
  cursor: pointer;
}

.follow-details {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.friends,
.followings {
  background: linear-gradient(135deg, #d28509, #9747ff);
  color: white;
  width: 10rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  text-align: center;
}
