@import url("./style.css");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+MX:wght@100..400&family=Playwrite+US+Trad:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.register-form form {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  text-align: center;
  padding: 2rem;
}

.register-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}
.register-click {
  text-align: center;
  padding: 2rem;
}

.register-form a:hover {
  text-decoration: underline;
}

.register-button {
  background: linear-gradient(135deg, #9747ff, #07d8ba);
  color: white;
  padding: 1rem;
  width: 10rem;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.register-button:hover {
  background: linear-gradient(45deg, #feb47b, #ff7e5f);
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}
.form-text {
  text-align: center;
  color: #a9a8a8;
  font-weight: 700;
}
.login-link {
  text-align: center;
  padding: 1rem;
}
.switch-login {
  font-size: 1rem;
  font-weight: bold;
  background: linear-gradient(135deg, #9747ff, #07d8ba);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: underline;
  text-decoration-color: #8c5fff;
  text-decoration-thickness: 3px;
}
