@import url(_reset.css);

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

footer {
  margin-top: 3rem;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background: linear-gradient(135deg, #9747ff, #07d8ba);
  color: white;
  font-size: 16px;
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  background: linear-gradient(90deg, #a060f0, #5cc9f5);
  -webkit-background-clip: text;
  color: transparent;
  margin-right: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  font-size: var(--text-size-large);
  margin: 0 auto;
  max-width: 40rem;
  text-align: center;
  padding-top: 1rem;
}
.slogan {
  color: #a9a8a8;
  margin: 0;
}
.form-top {
  text-align: center;
}
.gradient-input::placeholder {
  color: #a9a8a8;
}
.gradient-text {
  background-image: linear-gradient(135deg, #9747ff, #07d8ba);
  -webkit-background-clip: text;
  color: transparent;
}
.gradient-input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid transparent;
  border-radius: 4px;
  background-image: linear-gradient(white, white),
    linear-gradient(135deg, #9747ff, #07d8ba);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
