@import url(./_reset.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-title: #a9a8a8;
    --color-gradient-hover-from: #feb47b;
    --color-gradient-hover-to: #ff7e5f;
    --color-gradient-from: #9747ff;
    --color-gradient-to: #07d8ba;
  }
}
