@import url(./_reset.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-title: #a9a8a8;
    --color-primary: 255 115 179;
    --color-secondary: 111 114 185;
    --color-gradient-from: #9747ff;
    --color-gradient-to: #07d8ba;

    /* ... */
  }
}
